---
layout: layouts/base.njk
title: About Me
---

<h1>About Me</h1>
<p>
               I started building websites in 1999, when I taught myself HTML4.0. I soon graduated to XHTML and CSS, which turned to HTML5 and CSS. In 2003, I started working with WordPress by building HTML/CSS layouts and designs and then using WordPress to power the blog, including it into the HTML files using php includes. As time went on, I started using WordPress by itself, creating themes for blogs and websites. Today I customize pre-existing themes and I am working on full-site editing and creation using the block editor. My preferred technologies are HTML, CSS, and 11ty. I am planning to learn Tailwind CSS, SASS, Bootstrap, and advance my JavaScript skills to learn React.js.
            </p>
            <p>I am currently a student at Pikes Peak State College, in my second year of an Associate of Applied Sciece in Cybersecurity. I am set to graduate in May 2026 with my AAS and plan to go on to PPSC's BAS program in Cybersecurity. I am currently CCST Cybersecurity, CompTIA A+, CompTIA Net+, and CompTIA Sec+ certified.</p>

<div class="skills-container">
    <h2>Skills &amp; Certifications</h2>
    <div class="grid-skills">
          <div class="skill-card sec">
            <i class="fa-solid fa-shield-halved sec-icon"></i>
            <p>CompTIA Security+</p>
        </div>
        <div class="skill-card net">
            <i class="fa-solid fa-network-wired net-icon"></i>
            <p>CompTIA Network+</p>
        </div>
        <div class="skill-card aplus">
        <i class="fa-solid fa-computer aplus-icon"></i>
        <p>CompTIA A+</p>
        </div>
        <div class="skill-card cisco">
            <i class="fa-solid fa-signal cisco-icon"></i>
            <p>Cisco CCST Cybersecurity</p>
        </div>
        <div class="skill-card html">
            <i class="fa-brands fa-html5 html-icon"></i>
            <p>HTML</p>
        </div>
        <div class="skill-card css">
            <i class="fa-brands fa-css3-alt css-icon"></i>
            <p>CSS</p>
        </div>
        <div class="skill-card wp">
            <i class="fa-brands fa-wordpress wp-icon"></i>
            <p>WordPress</p>
        </div>
    </div>
</div>